<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label>Enter Server Name:</label>
             <input type="text" class="form-control" [(ngModel)]="serverName">
        </div>
        <div class="form-group">
            <label>Enter Server Status:</label>
             <input type="text" class="form-control" [(ngModel)]="serverStatus">
        </div>
        <button (click)="onInsertHandler()" class="btn btn-primary">Add Data</button>
    </div>
</div>
